* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li,
.button1 {
  font-family: "Montsarrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.header1 {
  background:rgba(0, 136, 169, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10%;
  margin-bottom: 1rem;
}

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links1 li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links1 li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.nav_links1 li a:hover {
   color: #0088a9
}

.button1{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0.1s;
}
.button1:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
